<div class="refund-policy"></div>
<div class="container-md p-2 text-center">
  <h1 class="p-5">Our refund policy</h1>
</div>
<div class="container-md p-5">
  <p>Chips.cm is committed to refund the money only and exclusively when the product is delivered without prior proof of
    operation such as</p>
  <ul>
    <li>
      Video of Chips in operation
    </li>
    <li>
      Physical evidence of correct operation
    </li>
  </ul>

  <p>No refunds are made for:</p>
  <ul>
    <li>
      Misuse of Chips
    </li>
    <li>
      Overheating of Chips by application of fire or direct heat
    </li>
    <li>Poor adhesion to mobile devices, cases or surfaces</li>
    <li>Loss due to adhesive misuse</li>
    <li>Design opacification</li>
  </ul>
</div>