<div class="how-personalized"></div>
<div class="container-md p-2 text-center">
  <h1 class="p-5">How personalized a Chips</h1>
</div>
<div class="container-md p-5">
  <h2 class="p-2">To customize our Chips you must follow the following steps:</h2>

  <ul>
    <li>
      <p>Choose your favorite design, logo or image</p>
    </li>
    <li>

      <p>Make sure you have the image in high quality, the best formats are Illustrator, Photoshop and PDF.</p>
      <p>Note: We do not receive low quality logos, the remastering or adaptation of the logo has extra costs.</p>
    </li>
    <li>
      <p>Send us your design to the following email: chips.empresarial&#64;gmail.com</p>
      <p>Remember to let us know when the design is sent!</p>
    </li>
  </ul>
</div>