<!-- Imagen banner inicial -->
<img src="./assets/banners/collage2.jpg" class="img-fluid" alt="Chips banner" style="width: 100%;">

<!-- Cards iniciales -->
<div class="cards-container bg-black pt-5 pb-5">
  <div class="row row-cols-1 row-cols-md-3 g-4 col-sm-9 mx-auto">
    <div class="col">
      <div class="card ">
        <img src="./assets/banners/blacks-chips.jpg" class="card-img-top" alt="...">
        <div class="card-body ">
          <h4 class="card-title">
            <a href="collection" class=" link-dark text-decoration-none" translate="no">Latest collection </a>
            <a href="collection" class="link-dark">
              <i class="bi bi-arrow-right"></i>
            </a>
          </h4>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card ">
        <img src="./assets/banners/personalizados.jpg" class="card-img-top" alt="...">
        <div class="card-body ">
          <h4 class="card-title">
            <a href="how-personalized" class=" link-dark text-decoration-none" translate="no">How personalized </a>
            <a href="how-personalized" class="link-dark">
              <i class="bi bi-arrow-right"></i>
            </a>
          </h4>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card ">
        <img src="./assets/banners/postIPhoneChipNegro.jpg" class="card-img-top" alt="...">
        <div class="card-body ">
          <h4 class="card-title">
            <a href="#" class=" link-dark text-decoration-none" translate="no">What is the size? </a>
            <a href="#" class="link-dark">
              <i class="bi bi-arrow-right"></i>
            </a>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-random-chips">
  <!-- Cards iniciales -->
  <h4 class="text-center pt-5">Best sellers</h4>
  <app-product-cards></app-product-cards>
  <div class=" content-about" style="padding-bottom: 90px;">

    <div class="card-about-us">
      <img src="./assets/img/reunion-odontologos.jpg" />
      <div>
        <h2>About us</h2>
        <h6>Do you want to know a little more about the history behind Chips.cm and what is the reason for our
          slogan?
          "Our way of sharing"</h6>
        <!-- Chips es un emprendimiento que nace de la necesidad de crear nuevas experiencias para conectar con el cliente -->
        <!-- Chips is a venture that was born from the need to create new experiences to connect with the customer -->
        <a href="about-us">See more</a>
      </div>
    </div>
  </div>