<div class="about-us">
  <div class="container-md p-2 text-center">
    <h1 class="p-5">A project for the automation and implementation of NFC in everyday life</h1>
  </div>
  <div class="container-md p-5">
    <p>In 2021, in the midst of a major financial crisis, “Chips” was born, a company founded with a clear mission: to
      automate
      tasks using NFC technology. What started as an innovative project soon faced challenges. Over the years, there
      were
      moments of success and moments of difficulty, with breaks in production due to the team being dissatisfied with
      the
      quality of their products.

      However, Chips' vision was never to “sell for the sake of selling”. Every step taken was aimed at offering more
      than
      just a product: an experience. Today, Chips has established itself as a brand that offers quality, style and the
      opportunity to customize your personal brand. Its slogan says it all: “Our way of sharing”.</p>
  </div>



</div>