<div class="container text center p-5">

  <h1>Nuestra manera de compartir</h1>

  <p>¡Conecta al instante con un mundo de oportunidades! Descubre "Chips": tu llave al networking inteligente. ¡Abre
    puertas
    con un simple toque! Con nuestras tarjetas NFC, sumérgete en un universo de conexiones. Agiliza tu networking,
    comparte
    información y deja una impresión duradera. ¡Desata tu potencial, un chip a la vez!</p>
</div>

<div class="container pb-5">
  <iframe width="355" height="662" src="https://www.youtube.com/embed/dM2FhPBvXNQ" title="Como escanear Chips en IPhone"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>

</div>
